@charset "UTF-8";
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  word-wrap: break-word; 
  padding-bottom: calc(env(safe-area-inset-bottom));
}

ol, ul {
    list-style: none; 
}
a {
    color: #90B3DF;
    text-decoration: none;
}
a:visited {
    color: #90B3DF;
}
/* area-mv */
.area-mv {
    background-color: #A8C2E0;
}
.content-mv {
    background: url(../img/mv.png)no-repeat center;
    background-size: 400px;
    height: 260px;
    margin: 0 auto;
}
.content-mv__hero {
    text-indent: -9999px;
}
.content-list {
    text-align: right;
    z-index: 10;
}
.content-list__link {
    display: inline-block;
    width: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.content-list__link a{
    text-decoration: none;
    color: #fff;
}
.content-heading {
    width: 150px;
    position: absolute;
    top: 260px;
    left: 55%;
}
.content-heading__text {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 120%;
    text-align: center;
    letter-spacing: 2px;
}

@media screen and (max-width: 870px) {
    .content-mv {
      background-size: 300px;
      height: 220px;
    }
    .content-list {
        margin: 40px 20px 0 0;
        text-align: right;
        z-index: 10;
    }
    .content-list__link {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        color: #fff;
    }
    .content-heading {
        width: 150px;
        position: absolute;
        top: 260px;
        left: 55%;
    }
    .content-heading__text {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 120%;
        text-align: center;
        letter-spacing: 2px;
    }    
}
.area-description {
  margin-bottom: 50px;
}
.content-description__link {
  width: 148px;
  margin: 0 auto;
}
.content-description__link--text {
  font-size: 12px;
  display: inline-block;
  margin: 10px 10px 20px;
}
/* area-product */

.content-product {
    max-width: 870px;
    margin: 0 auto;
}
.content-product__heading {
    margin: 60px 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.content-product_text {
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
    color: #494949;
}
.content-product__list {
    margin: 0 10px;
}
.block-item__link {
    text-decoration: none;
    color: #4a4a4a;
    display: inline-block;
}
.block-item__img {
  margin-bottom: 10px;
}
.block-item__list {
    width: 250px;
    margin: 0 14px 50px;
    display: inline-block;
}
.block-item__title {
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
}
.block-item__title--label {
    border: 1.5px solid #C4C4C4;
    border-radius: 4px;
    margin-right: 8px;
    padding: 4px;
    display: inline-block;
}
.block-item__year {
  font-size: 10px;
}
/* .block-item__title span {
    position: absolute;
    right: 0;
} */
.block-item__style1 {
    width: 250px;
    height: 250px;
    display: inline-block;
    background: linear-gradient(to bottom right, #ffffff, #e6f2f5, #ecd9d0);
}
.block-item__style2 {
    width: 250px;
    height: 250px;
    display: inline-block;
    background: linear-gradient(to top right, #5478f2 0%, #f23f79 60%, orange 100%);
}
.block-item__style3 {
    position: relative;
    width: 250px;
    height: 234px;
    display: inline-block;
    background-color: #e6f2f5;
    border-radius: 3px;
    margin-bottom: 15px;
}
.block-item__style3::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    left: 42%;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #e6f2f5 transparent transparent transparent;
}
.block-item__style4 {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.block-item__style5 {
    width: 250px;
    height: 250px;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.content-research {
    max-width: 850px;
    margin: 0 auto;
}
.content-research__heading {
    margin: 60px 0 10px;
    text-align: center;
}
.area-tips {
    margin-top: 50px;
}

@media screen and (max-width: 870px) {
    .content-product {
        max-width: 870px;
        margin: 0 auto;
    }
    .content-product__heading {
        margin: 50px 0 10px;
        text-align: center;
    }
    .content-product__list {
        width: 300px;
        margin: 0 auto;
    }
    .block-item__link {
        text-decoration: none;
        color: #4a4a4a;
        display: inline-block;
    }
    .block-item__list {
        width: 300px;
        margin: 0 0 50px;
    }
    .block-item__title {
        margin-bottom: 10px;
        font-size: 12px;
        position: relative;
    }
    .block-item__title span {
        position: absolute;
        right: 0;
    }
    .content-research {
        max-width: 850px;
        margin: 0 auto;
    }
    .content-research__list {
        width: 250px;
        margin: 0 auto;
    }
    .content-research__heading {
        margin: 50px 0 10px;
        text-align: center;
    }
}
#return-top {
  padding: 4px 8px;
  background-color: #B8C6CE;
  border-radius: 3px;
  bottom: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  position: fixed;
  right: 16px;
  text-align: center;
}

.block-sidejob__detail {
    margin-top: 20px;
}
.block-sidejob__img {
    margin-top: 10px;
}