<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ahasebe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/ahasebe2.png">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:600,700,800" rel="stylesheet">
</head>
<body>
    <section id="top" class="area-detail">
        <div class="content-detail">
            <nav class="content-detail__menu">
              <p class="content-detail__menu--list"><a href="../index.html">Proposition：一覧に戻る</a></p>
            </nav>
            <h1 class="content-detail__heading">Yahoo!ウォレット/ Yahoo!マネー</h1>
            <p class="content-detail__text">2016</p>
            <p class="content-detail__img01"><img src="../img/content--detail03-01.png" width="100%"></p>
        </div>
    </section><!-- area-detail -->  
    <section class="area-description">
        <div class="content-description">
            <dl class="content-description__note block-note">
                <dt class="block-note__title">概要</dt>
                <dd class="block-note__phrase">
                    本件は「Yahoo!ウォレット」という決済サービスを軸に支払いの新しい手段としてユーザー間での対面送金が行える新規アプリを世に提案し，同時にWEBページの刷新を行った案件である．リリースから運用に到るまで，iOS/AndroidアプリのUIの作成，WEBデザイン，販促用ページの実装，リソース管理を担当した．リリース後は運用に従事</dd>
            </dl>
            <ul class="content-description__text">
                <li>担当：制作，実装，運用，プロジェクト管理</li>
                <li>使用ツール：Photoshop/ Illustrator/ sketch</li>
                <li>期間：2015年 12月 - 2017年 9月</li>
                <li>メンバー：45人</li>
                <li><a href="https://wallet.yahoo.co.jp/">URL：https://wallet.yahoo.co.jp/ </a></li>
            </ul>
            <dl class="content-description__note block-note">
                <dt class="block-note__title">作業内容</dt>
                <dd class="block-note__phrase--bold">アプリUI作成</dd>
                <dd class="block-note__phrase">
                    Android・iOS両端末のUIデザイン，その他アイコンやアプリ内で使用されたイラストを作成
                </dd>
            </dl>
            <p class="content-detail__img01"><img src="../img/content--detail03-04.png" width="100%"></p>
        </div>
        <div class="content-description">
            <dl class="content-description__note block-note">
                <dd class="block-note__phrase--bold"> WEBページ実装</dd>
                <dd class="block-note__phrase">
                    アプリリリース後にはアプリ宣伝用LPを作成し，実装およびアニメーション設計（画像左）<br>サービスページのリデザイン、および実装（画像右）
                </dd>
            </dl>
            <ul class="content-detail__img02">
              <!-- template for the modal component -->
                <script type="text/x-template" id="modal-template">
                  <transition name="modal">
                    <div class="modal-mask" @click="$emit('close')">
                      <div class="modal-wrapper">
                        <div class="modal-container">
                          <div class="modal-body">
                            <slot name="body">
                              <img src="../img/wallet_app.png" width="100%">
                            </slot>
                          </div>
                        </div>
                      </div>
                    </div>
                  </transition>
                </script>
                <script type="text/x-template" id="modal-template2">
                  <transition name="modal2">
                    <div class="modal-mask" @click="$emit('close')">
                      <div class="modal-wrapper">
                        <div class="modal-container">
                          <div class="modal-body">
                            <slot name="body">
                              <img src="../img/wallet_top.png" width="100%">
                            </slot>
                          </div>
                        </div>
                      </div>
                    </div>
                  </transition>
                </script>

                <!-- app -->
                <li class="content-detail__img02-modal">
                  <div id="modal1">
                    <img id="show-modal" @click="showModal = true" src="../img/content--detail03-02.png" width="100%">
                    <p>アプリ宣伝用LP</p>
                    <p><a href="https://wallet.yahoo.co.jp/promotion/app/">URL：https://wallet.yahoo.co.jp/promotion/app/</a></p>
                    <modal v-if="showModal" @close="showModal = false">
                    </modal>
                  </div>
                </li>
                <li>
                  <div id="modal2">
                    <img id="show-modal2" @click="showModal2 = true" src="../img/content--detail03-03.png" width="100%">
                    <p>サービスページ</p>
                    <p><a href="https://wallet.yahoo.co.jp/">URL：https://wallet.yahoo.co.jp/</a></p>
                    <modal v-if="showModal2" @close="showModal2 = false">
                    </modal>
                </li>
                <li class="content-detail__info"><span>*画像をクリックすると拡大できます</span></li>
            </ul>
            <ul class="content-detail__img02">
                <li><img src="../img/wallet.gif" width="100%"></li>
                <li><img src="../img/wallet_sp.png" width="100%"></li>
            </ul>
        </div>
      <div id="app">
      <a href="#" id="return-top" v-show="show" v-scroll-to="'#top'">TOP</a>
      </div> 
  </section>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="../js/common.js"></script>
  </body>
</html>