<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <title>ahasebe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/ahasebe2.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:600,700,800" rel="stylesheet">
</head>
<body>
    <section class="area-detail">
        <div class="content-detail">
            <nav class="content-detail__menu">
              <p class="content-detail__menu--list"><a href="../index.html">Proposition：一覧に戻る</a></p>
            </nav>
            <h1 class="content-detail__heading">ジャパンネット銀行LP作成</h1>
            <p class="content-detail__text">2016</p>
            <p class="content-detail__img01"><img src="../img/content--detail04-01.png" width="100%"></p>
        </div>
    </section><!-- area-detail -->  
    <section class="area-description">
        <div class="content-description">
            <dl class="content-description__note block-note">
                <dt class="block-note__title">概要</dt>
                <dd class="block-note__phrase">
                    ジャパネット銀行の口座開設用LPではコーディング作業をPC・SP両デバイスで実施．静的なページでありながら表示内容をユーザーの登録ステータスに応じて表記を変える項目が多く，phpやMTの特殊タグを用いて分岐処理を施した．サービスを担当するにあたって，MTを用いて複数のwebページをリリースし，その後の運用を担当することになった．
                </dd>
            </dl>
            <ul class="content-description__text">
                <li>担当：制作，実装，企画，運用</li>
                <li>使用ツール：Photoshop/ Illustrator/ ATOM/ CMS</li>
                <li>環境：HTML/ CSS/ PHP/ </li>
                <li>期間：2015年 12月 - 2017年 9月</li>
                <li>メンバー：4人</li>
            </ul>
            <dl class="content-description__note block-note">
                <dt class="block-note__title">作業内容</dt>
                <dd class="block-note__phrase--bold"> WEBページ実装</dd>
                <dd class="block-note__phrase">
                  本件ではビジュアル作成，申し込みページのコーディングを実施．ビジュアル作成ツールとしてはPhotoshopおとびIllustratorを使用既存ページの運用や改修、新規ページはMTを用いてリリースから運用を実施
                </dd>
            </dl>
            <ul class="content-detail__img02">
                <!-- template for the modal component -->
                  <script type="text/x-template" id="modal-template">
                    <transition name="modal">
                      <div class="modal-mask" @click="$emit('close')">
                        <div class="modal-wrapper">
                          <div class="modal-container">
                            <div class="modal-body">
                              <slot name="body">
                                <img src="../img/bank.png" width="100%">
                              </slot>
                            </div>
                          </div>
                        </div>
                      </div>
                    </transition>
                  </script>
                  <script type="text/x-template" id="modal-template2">
                    <transition name="modal2">
                      <div class="modal-mask" @click="$emit('close')">
                        <div class="modal-wrapper">
                          <div class="modal-container">
                            <div class="modal-body">
                              <slot name="body">
                                <img src="../img/bank-visa.png" width="100%">
                              </slot>
                            </div>
                          </div>
                        </div>
                      </div>
                    </transition>
                  </script>
  
                  <!-- app -->
                  <li class="content-detail__img02-modal">
                    <div id="modal1">
                      <img id="show-modal" @click="showModal = true" src="../img/content--detail04-02.png" width="100%">
                      <p>口座開設用LP</p>
                      <p><a href="https://bank.yahoo.co.jp/">URL：https://bank.yahoo.co.jp/</a></p>
                      <modal v-if="showModal" @close="showModal = false">
                      </modal>
                    </div>
                  </li>
                  <li>
                    <div id="modal2">
                      <img id="show-modal2" @click="showModal2 = true" src="../img/content--detail04-03.png" width="100%">
                      <p>Visaカード訴求LP</p>
                      <p><a href="https://bank.yahoo.co.jp/promotion/oversea/">URL：https://bank.yahoo.co.jp/promotion/oversea/</a></p>
                      <modal v-if="showModal2" @close="showModal2 = false">
                      </modal>
                    </div>
                  </li>
                  <li class="content-detail__info"><span>*画像をクリックすると拡大できます</span></li>
              </ul>
        </div>
        <div class="content-description">
            <dl class="content-description__note block-note">
                <dd class="block-note__phrase--bold">  WEBページABテスト</dd>
                <dd class="block-note__phrase">
                  口座開設ボタンのCTR数を向上させる目的で既存ページ内の訴求内容を検討を実施。その手法としてABテストを複数回実施。
                </dd>
            </dl>
            <p class="content-detail__img01"><img src="../img/content--detail04-04.png" width="100%"></p>
        </div>
      </div>
      <div id="app">
      <a href="#" id="return-top" v-show="show" v-scroll-to="'#top'">TOP</a>
      </div> 
  </section>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="../js/common.js"></script>
</body>
</html>