<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <title>ahasebe</title>
    <meta name="description" content="ahasebe portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:url" content="https://ahasebe.github.io/" />
    <meta property="og:title" content="ahasebe" />
    <meta property="og:image" content="img/ahasbe_ogp.png" />
    <meta property="og:description" content="ahasebe portfolio / はせべのポートフォリオ" />
    <link rel="shortcut icon" href="../img/ahasebe.png">
    <link rel="stylesheet" href="../CSS/Style.css">
    <link rel="stylesheet" href="../CSS/work.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <section class="work">
    <h1 class="work_title">Yahoo!ウォレット/ Yahoo!マネー</h1>
    <p class="work_img"><img src="../img/work/Yahoo/flea/flea01.png" alt="実装した端末の画像" width="100%"></p>
    <div class="work_detail">
      <dl class="work_disctiption">
          <dt class="work_heading">概要</dt>
          <dd class="work_phrase">
            本件は「Yahoo!新規サービスのアプリダウンロード訴求を目的としたLPの実装、テスト、リリースまでを担当
          </dd>
      </dl>            
      <ul class="work_phrase">
                <li>担当：実装、テスト、リリース</li>
                <li>使用ツール：VSC</li>
                <li>環境：HTLM / CSS  / jQuery</li>
                <li>期間：2019年10月 </li>
                <li>メンバー：5人</li>
                <li>URL：<a href="https://info-premium.yahoo.co.jp/promo/paypayfleamarket/index.html">https://info-premium.yahoo.co.jp/promo/paypayfleamarket/index.html</a></li>
            </ul>
      <dl class="work_disctiption">
          <dt class="work_heading">作業内容</dt>
          <dd class="work_phrase">実装に際して、当該LPはCVを計測しながら、デザインを変えていくことが想定されていたので、構成は各項目ごとにsection構成を基本とした。PCページに限ってはMVにフリップアニメーション実装した。リリースに際してはMTを用いて行った。</dd>
      </dl>
    </div>
  </section>
<section id="modal" class="area-detail">
  <img src="../img/work/Yahoo/flea/flea03.gif" width="100%">
  <div class="content-detail">
    <img
      src="../img/work/Yahoo/flea/flea02.png"
      width="100%"
      data-large="../img/work/Yahoo/flea/flea04.png"
      @click="openModal($event)"
      alt=""
    >
    <p class="content-detail__info">
      <span>*画像をクリックすると拡大できます</span>
    </p>
  </div>
  <!-- モーダル -->
<modal v-if="showModal" @close="closeModal">
  <img :src="currentImage" :alt="currentAlt">
</modal>
</section>
<!-- モーダルテンプレート -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-container" @click.stop>
        <div class="modal-content">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</script>
  <section class="footer">
    <div>© AHASEBE</div>
    <div id="app">
      <transition name="fade">
        <div
          class="scroll-top"
          v-if="showButton"
          @click="scrollToTop"
        >
          ▲ TOP
        </div>
      </transition>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="../js/common.js"></script>
</body>
</html>