<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <title>ahasebe</title>
    <meta name="description" content="ahasebe portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:url" content="https://ahasebe.github.io/" />
    <meta property="og:title" content="ahasebe" />
    <meta property="og:image" content="img/ahasbe_ogp.png" />
    <meta property="og:description" content="ahasebe portfolio / はせべのポートフォリオ" />
    <link rel="shortcut icon" href="../img/ahasebe.png">
    <link rel="stylesheet" href="../CSS/Style.css">
        <link rel="stylesheet" href="../CSS/work.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <section class="work">
    <h1 class="work_title">Yahoo!ウォレット/ Yahoo!マネー</h1>
    <p class="work_img"><img src="../img/work/Yahoo/money/money_01.png" alt="実装した端末の画像" width="45%"></p>
    <div class="work_detail">
      <dl class="work_disctiption">
          <dt class="work_heading">概要</dt>
          <dd class="work_phrase">
            本件は「Yahoo!ウォレット」という決済サービスを軸に、ユーザー間で対面送金が行える新規アプリの企画・制作およびWebページの刷新を担当した案件です。リリースから運用に至るまで、iOS／AndroidアプリのUI作成、Webデザイン、販促用ページの実装、リソース管理を担当いたしました。デザイン面ではリードデザイナーと協働しながらUI設計およびビジュアルの制作を行いました。
          </dd>
      </dl>            
      <ul class="work-phrase">
          <li>制作，実装，運用，プロジェクト管理</li>
          <li>Photoshop/ Illustrator/ sketch</li>
          <li>環境：HTML/ CSS/ JavaScript</li>
          <li>担当期間：2015年 12月 - 2017年 9月</li>
          <li>メンバー：45人（PM/エンジニア/デザイナー込み）</li>
          <li>URL：https://wallet.yahoo.co.jp/ </li>
      </ul>
      <dl class="work_disctiption">
          <dt class="work_heading">作業内容</dt>
          <dd class="work_phrase">Android・iOS両端末のUIデザイン，その他アイコンやアプリ内で使用されたイラストを作成</dd>
          <dd class="work_phrase">LPの作成・実装</dd>

      </dl>
    </div>
  </section>
<section id="modal" class="area-detail">
  <img src="../img/work/Yahoo/money/money_02.png" width="100%">
  <img src="../img/work/Yahoo/money/money_03.png" width="100%">
  <div class="content-detail">
    <img
      src="../img/work/Yahoo/money/money_04.png"
      width="100%"
      data-large="../img/work/Yahoo/money/money_05.png"
      @click="openModal($event)"
      alt=""
    >
    <p class="content-detail__info">
      <span>*画像をクリックすると拡大できます</span>
    </p>
  </div>
  <!-- モーダル -->
<modal v-if="showModal" @close="closeModal">
  <img :src="currentImage" :alt="currentAlt">
</modal>
</section>
<!-- モーダルテンプレート -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-container" @click.stop>
        <div class="modal-content">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</script>
  <section class="footer">
    <div>© AHASEBE</div>
    <div id="app">
      <transition name="fade">
        <div
          class="scroll-top"
          v-if="showButton"
          @click="scrollToTop"
        >
          ▲ TOP
        </div>
      </transition>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="../js/common.js"></script>
</body>
</html>